@import '../../../theme/variables.scss';

/*header*/

.home-wrapper {
  width: 100%;
  height: auto;
  margin-top: 56px;
  background-color: $main-background;

  .home-wrapper-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    min-height: 400px;
    background-size: cover;
    color: #ffff;
   // background: linear-gradient(160deg,#02b3e4,#02ccba);
    background-image: url(../../../assets/clean.jpg);
    // @media (max-width: 400px) {
    //   background-image: url(../../../assets/clean.jpg);
    // }
    // @media (max-width: 500px) {
    //   background-image: url(../../../assets/clean.jpg);
    // }
    .home-wrapper-header-input {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 300px;
      height: 100%;
    }

    .header-title, .header-description {
      margin-top: 40px;
      font-weight: 600;
      text-align: center;
      text-shadow: 0 0 7px rgba(0,0,0,0.3);
    }

    .header-description {
      margin-top: 0;
    }

    .header-input {
      width: 100%;
      margin-top: 16px;
      background-color: rgba(0,0,0,.3)!important;
      border-radius: 9px;

      .input-hint-wrapper {
        color: #ffff;

        .input-hint {
          font-weight: bold;
          cursor: pointer;
          text-decoration-line: underline;
          text-decoration-style: dotted;
        }

        .input-hint:hover {
          cursor: pointer;
        }
      }
    }

    mat-form-field.mat-form-field {
      font-size: 1em;
      width: 100%;
      margin-top: -5px;
    }

    .home-wrapper-submit {
      width: 100%;
      height: 55px;
      margin-top: 16px;

      a {
        width: inherit;
        height: inherit;
        background-color: $text-color;
        color: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 17px;
      }

    }
  }

  .home-wrapper-howitworks {

  }




  .resister-worker-button, .more-detailed-button {
    background: $light-green;
    color: white;
  }
}

/*footer*/

.home-footer {
  max-width: 100%;
  height: 300px;
  //background: $disney-color;
  color: white;
  background: linear-gradient(160deg,$main-color,$disney-color);

  .app-icon {
    transform: rotateX(180deg);
  }
}


