<div class="home-wrapper">
  <div class="home-wrapper-header">
    <div class="home-wrapper-header-input">
      <div class="header-title">Замовляйте послуги і насолоджуйтесь життям</div>
      <div class="header-input">
        <mat-form-field appearance="outline">
          <mat-label>Що потрібно зробити?</mat-label>
          <input matInput>
          <mat-hint>Наприклад прибрати в квартирі</mat-hint>
        </mat-form-field>
      </div>
      <div class="home-wrapper-submit">
        <a mat-raised-button routerLink=".">Замовити послугу</a>
      </div>
    </div>

  </div>

</div>
