<main class="home-wrapper">

  <section class="home-wrapper-header">
    <div class="home-wrapper-header-input">
      <h1 class="header-title">Сервіс замовлення послуг</h1>
      <p class="header-description">Підберемо спеціаліста біля Вашого будинку</p>
      <div class="header-input">
        <mat-form-field appearance="outline">
          <mat-label>Що потрібно зробити?</mat-label>
          <input matInput type="search" autocomplete="off">
          <mat-hint class="input-hint-wrapper">Наприклад:<span class="input-hint">прибрати в квартирі</span></mat-hint>
        </mat-form-field>
      </div>
      <div class="home-wrapper-submit">
        <a mat-raised-button routerLink=".">Замовити послугу</a>
      </div>
    </div>
  </section>

  <section class="home-wrapper-howitworks">
    <h2>Як це працює</h2>
    <div class="create-task">
        <h3>1.Створіть завдання</h3>
        <p>Опишіть коли і що потрібно зробити</p>
    </div>
    <div class="worker-response">
        <h3>2.Отримуйте пропозиції</h3>
        <p>Після того як ваша робота опублікована, ви отримаєте відповіді від зацікавлених професіоналів</p>
    </div>
    <div class="choose-worker">
        <h3>3.Перегляньте та оберіть</h3>
        <p>Виберіть професіонала який відповідає Вашим потребам</p>
    </div>
    <div class="more-detailed">
        <button mat-button>Більш детально</button>
    </div>
  </section>

  <section class="home-wrapper-categories">
    <h2>Категорії</h2>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, enim facilis! Perspiciatis reprehenderit aliquam quis beatae! Vel temporibus et quibusdam ex officia ea repellat accusamus voluptates tempora illum! Ab, reiciendis!
  </section>

  <section class="home-wrapper-tasks">
      <h2>Останні створені завдання</h2>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, enim facilis! Perspiciatis reprehenderit aliquam quis beatae! Vel temporibus et quibusdam ex officia ea repellat accusamus voluptates tempora illum! Ab, reiciendis!
  </section>

  <section class="home-wrapper-tasks">
      <h2>Реєструйся як виконавець</h2>
      <p>Ви працьовитий виконавець? Ми допоможемо Вам отримати більше роботи</p>
      <button mat-button>Почати заробляти гроші</button>
  </section>
</main>
<footer class="home-footer">
    <img mat-button (click)="logoIconClick()" class="app-icon" width="35" height="35" src="../../assets/icons/worker-icon.svg" alt="worker">
    p
</footer>

