@import '../theme/variables.scss';

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color:  #ffffff!important;
  opacity: 1!important;
}

.mat-form-field-label {
  color: #ffffff!important;
}

.mat-form-field-appearance-outline .mat-form-field-infix .mat-input-element {
  color: #ffffff!important;
  caret-color: #ffffff!important;
  text-align: center!important;
  font-size: 18px!important;
  font-weight: 600!important;
}

